mat-toolbar {
    min-height: 80px;
}

.flexExpand {
    flex: 1 1 auto;
}

.example-button-row {
    display   : table-cell;
    /* width  : 490px; */
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-form {
    margin: 28px 28px 28px 28px;
}

.example-full-width {
    width: 100%;
}

.loading-shade {
    position       : absolute;
    top            : 0;
    left           : 0;
    bottom         : 56px;
    right          : 0;
    background     : rgba(0, 0, 0, 0.15);
    z-index        : 1;
    display        : flex;
    align-items    : center;
    justify-content: center;
}