<mat-toolbar>
    <span>{{title}} <label *ngIf="page.action != '3'" style="color: cadetblue">{{subTitle}}</label></span>
    <span class="flexExpand"></span>
    <div class="button-row">
        <button mat-stroked-button color="warn" routerLink={{page.navGrid}}>{{(page.action == '6' ? 'Voltar' :
            'Cancelar')}}</button>
        <span> </span>
        <button mat-stroked-button color="primary" (click)='save()' *ngIf="page.action != '6'">Confirmar</button>
    </div>
</mat-toolbar>

<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<form class="form">

    <div class="row" *ngFor="let group of displayedFields">
        <div class="col" *ngFor="let field of group.row">
            <mat-form-field appearance="outline" class="full-width">

                <mat-label>{{field.label}}</mat-label>

                <input *ngIf="field.type=='input' && field.varType!='number'" matInput [name]="field.name"
                    [(ngModel)]="element[field.name]" [type]="field.varType" [disabled]="field.disabled"
                    (change)="trigger(element, field)">

                <button mat-button *ngIf="field.search" [name]="field.name" matSuffix mat-icon-button
                    aria-label="Clear" (click)='click(field.click)'>
                    <mat-icon>search</mat-icon>
                </button>

                <input *ngIf="field.type=='input' && field.varType=='number'" matInput [name]="field.name"
                    [(ngModel)]="element[field.name]" type="number" [disabled]="field.disabled"
                    (change)="trigger(element, field)">

                <mat-select *ngIf="field.type=='select'" [name]="field.name" [(ngModel)]="element[field.name]"
                    [disabled]=field.disabled (selectionChange)="trigger(element, field, field.dataset)">
                    <mat-option *ngFor="let elem of field.dataset" [value]="elem.value">
                        {{elem.viewValue}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
    </div>

</form>


<!-- <button name="teste" mat-stroked-button color="primary" (click)='click("cliente")'><span class="material-icons">
        search
    </span></button> -->